body {
	font-family: 'Montserrat', sans-serif; /*importação de fonte pelo google fonts, no body: aplica para todo o conteúdo*/
}

header {
	background: #BBBBBB;
	padding: 20px 0; /* para aumentar espaçamento interno, assim o elemento aumenta o seu tamanho*/
}

.caixa {
	position: relative; /*para o menu entrar na caixa*/
	width: 940px;
	margin: 0 auto; /*para alinhar a div ao centro*/
}

nav {
	position: absolute; /*para mudar a posição do ponto inicial que ele se encontra*/
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold; /*para deixar em negrito*/
	font-size: 22px;
	text-decoration: none; /*para tirar o sublinhado*/
}

nav a:hover{ /*para mapear comportamentos de a do nav quando mouse em cima*/
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0; /*para não ficar muito grudado com a header, assim dá espaçamento interno*/
}

.produtos li {
	display:inline-block; /*ocupa o tamanho do conteúdo e mutável*/
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%; /*para um bloco não ficar grudado com o outro*/
	padding: 30px 20px;
	box-sizing: border-box; /*para o 30% do width seja fixo, assim o padding é sobre o valor do width fixo*/
	border-color: #000000; 
	border-width: 2px;
	border-style: solid; /* ou poderia unificar e colocar border: 2px solid #000000; 
	é uma borda solida, com 2px de largura e entre o padding e a margin*/
	border-radius: 10px; /*para arredondar as bordas*/
}

.produtos li:hover { /*quando o mouse estiver em cima*/
	border-color: #C78C19;
}

.produtos li:active { /*quando pressiono o click do mouse*/
	border-color: #088C19;
}

.produtos li:hover h2 {	
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0; /*igual margin-top: 10px, para ter espaço entre descrição e preço*/;
}

footer {
	text-align: center;
	background:url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0; /*espaço entre o copyright e a imagem*/
}

main {
	/*width: 940px;
	margin: 0 auto; para nao ficar toda a configuração centralizada no meio da pagina, sem nada nas bordas*/
}

form {
	margin: 40px 0; /*espaço entre as caixas e o header e o footer*/
}

form label, form legend {
	display: block; /*para não ficarem na mesma linha*/
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px; /*margin é espaçamento externo*/
	padding: 10px 25px; /*espaço entre a borda e o conteúdo*/
	width: 50%; /*ocupando 50% da página*/
}

.checkbox {
	margin: 20px 0; /*se não tem o 0, a escrita fica muito para a direita da página*/
}

/*id é mais "forte" que classe, ele sobrepôe a classe, e inline mais forte que o id -> como colocar style="color"
na mesma linha*/

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all; /*transformação suave da cor e do tamanho quando o mouse está em cima, só o background é 
	transition: 1s background*/
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2); /*aumentar em 20% o tamanho proporcionalmente*/
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px; /*para cima e para baixo de 8px e 15px laterais*/
}

/*css da página inicial*/
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em; /*dobro da fonte padrão*/
	margin: 0 0 1em; /*para baixo e proporcional a fonte*/
	clear: left; /*para não ser afetado pelo float da imagem*/
	/*color: rgba(0, 0, 0, 0.3); para usar opacidade tem que usar o rgba, o quarto parametro é a opacidade*/
	/*text-shadow é sombra de textp*/
}

.titulo-principal:first-letter {
	font-weight: bold;
}

/*p:first-line {
	font-style: italic;
}

.titulo-principal:before {
	content: "[";
}

.titulo-principal:after {
	content: "]";
}

*/

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left; /*para o texto ficar em torno do elemento*/
	margin: 0 20px 20px 0; /*margem direita e para baixo, desse modo a atribuição é: cima, baixo, direita, esquerda*/
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888); /*posso colocar graus no primeiro parâmetro, para mostrar a forma do degradê*/
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;	
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
	/*box-shadow: inset 0 0 30px #FF0000; sombra interna*/
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block; /*para a imagem ficar do lado do texto, o ul tem que estar na mesma linha que a imagem
	no html, para que o espaço não reflita no navegador*/
	vertical-align: top;
}

.itens {
	line-height: 1.5; /*espaçamento entre linhas*/
}

.itens:first-child { /*pega o primeiro da lista, também existe o last-child e o nth-child(qualquer um)
	se colocar o 2n dentro do parênteses do nth-child, significa que estou pegando todos os elementos pares*/
	font-weight: bold;
}

.itens:before {
	content: "★"; /*usando unicode*/
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000; /*sombra, com parametros (x, y, blur, intensidade da borda, cor)*/
}

.imagem-beneficios:hover {
	opacity: 0.3; /*só "vê" 30% do elemento em questão de luminosidade*/
}

.video {
	width: 560px;
	margin: 2em auto; /*1em pra cima e pra baixo, e auto nas laterais, centralizando o video*/
}

/* 
main > p {
	
}
pega as filhas diretas do main

img + p {
	
}
pega o primeiro irmão

img ~ p {
	
}
pega todos os seletores depois da img

.principal p:not(#missao){
	
}
pega todos, menos o que tem id missao

para fazer calculos:
width: calc(40% -26px);
*/

@media screen and (max-width: 480px) { /*para celulares*/
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}